.head {
    background: #ffffff;
}
.nav {
    width: 1200px;
    font-size: 35px;
    text-transform: uppercase;
    text-align: left;
    margin: 0 auto;
}
a {
    color: #54b9a6;
    text-decoration: none;
    margin: 35px;
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier;
}
.img {
    width: 1200px;
    height: 790px;
    background: url("Img/img1.jpg") no-repeat;
    background-color:#f5f6f7;
    margin: 0;

}
.text {
    width: 1200px;
    height: 500px;
    font-weight: bold ;
    text-align: center;
    font-size: 20px;
    background-color:#f5f6f7;
    padding-top: 20px;

}
.parag {
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier;
    text-transform: uppercase;
    font-size: 40px;
}
.button {
    width: 1200px;
    height: 200px;
    background-color:#f5f6f7;
    text-align: center;
}
button {
    width: 250px;
    height: 80px;
    background-color: #16A086;
    font-size: 20px;
    font-family: ﻿GothamRounded-Bold, ﻿AdobeInvisFont, ﻿MyriadPro
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
}
.foot {
    width: 1200px;
    height: 80px;
    text-align: right;
    font-size: 25px;
    margin-right: 60px;
    background-color: white;
}

