html {
    margin: 0;
    padding: 0;
    max-width: 1900px;
    min-width: 300px;
}

.header {
    height: 70px;
    background-color: #1d2124;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Semibold;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    cursor: pointer;

}
.header__logo {
    display: flex;
    justify-content: center;
    background: url("../image/logo-img.png") no-repeat;
    background-position-y: center;
    width: 245px;
    align-items: center;
    height: 70px;
    text-decoration-color: white;
    cursor: pointer;
    font-size: 18pt;
    margin-left: 10px;
}
.header__menu-search {
    width: 70px;
    height: 70px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    background-color: #171a1c;
    margin-right: 10px;

}

.header__menu {
    width: 80%;
}
.header__menu ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.header__menu-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 255);
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Semibold;
    font-size: 18pt;

}
.main__image-bar{
    display: flex;
    flex-flow: row wrap;
    background-image: url("../image/hw6_img_header-bg.jpeg");
    opacity: .8;
    height: 400px;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main__image__bar-text {
    width: 95%;
    font-family: ﻿AdobeInvisFont, ﻿OpenSans, ﻿Courier;
    font-size: 27px;
    color: rgba(255, 255, 255, 255);
    margin-top: 100px;
}

.main__image__bar-button {
    display: flex;
    flex-flow: column wrap;
    justify-items:center ;
    width: 450px;
    height: 55px;
    margin-top: -100px;
}

.main__image__bar__button-green, .main__image__bar__button-blue {
    width: 175px;
    height: 55px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Semibold;
    font-size: 18pt;
    color: rgba(255, 255, 255, 255);
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}

.main__image__bar__button-green {
    background-color: #89ca62;
}
.main__image__bar__button-green p, .main__image__bar__button-blue p {
    text-align: center;
    margin: 12px 0px;


}

.main__image__bar__button-blue {
    background-color: #14b9d5;
}

.main-post {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    background-color: #f2f2f2;
}

.navigation__titles {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold;
    font-size: 27pt;
    color: rgba(24, 180, 207, 255);
    text-transform: uppercase;
    font-weight: bold;
    background-color: #f2f2f2;
}
.navigation__post{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 900px;
}
.navigation__post-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: column wrap;
    width: 1170px;
    height: 900px;
}

.navigation__post-one,
.navigation__post-two,
.navigation__post-three,
.navigation__post-four,
.navigation__post-five,
.navigation__post-six {
    margin: 25px;
    display: flex;
    align-items: flex-end;

}

.navigation__post-one {
    height: 320px;
    width: 370px;
    min-width: 100px;
    background: url("../image/post-1.png") no-repeat;
    background-size: 100% 84%;
    order: 1;
}

.navigation__post-two {
    height: 320px;
    width: 370px;
    background: url("../image/post-3.png") no-repeat;
    background-size: 100% 84%;
    order: 5;
}

.navigation__post-three {
    height: 441px;
    width: 370px;
    background: url("../image/post-2.png") no-repeat;
    background-size: 100% 88%;
    order: 3;
}

.navigation__post-four {
    height: 310px;
    width: 370px;
    background: url("../image/post-4.png") no-repeat;
    background-size: 100% 83%;
    order: 2;
}

.navigation__post-five {
    height: 355px;
    width: 370px;
    background: url("../image/post-5.png") no-repeat;
    background-size: 100% 85%;
    order: 4;
}

.navigation__post-six {
    height: 441px;
    width: 370px;
    background: url("../image/post-6.png") no-repeat;
    background-size: 100% 88%;
    order: 6;
}

.navigation__post-after {
    height: 62px;
    width: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold;
    font-size: 18pt;
    color: rgba(53, 58, 61, 255);
    background-color: #ffffff;
}

.second__image-bar{
    background-image: url("../image/parallax-bg.jpeg");
    width: 100%;
    height: 590px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    overflow: hidden;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.second__image__bar-text {
    text-transform: uppercase;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold;
    font-size: 27pt;
    font-weight: bold;
    color: rgba(255, 255, 255, 255);
    justify-self: center;
    display: flex;
}
.second__image__bar-line{
    content: '';
    width: 100px;
    height: 3px;
    background-color: orange;
    justify-self: center;
    margin-top: -150px;
}
.second__image__bar-wrap {
    width: 100%;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    justify-content: space-evenly;
}
.second__image__bar__wrap-one {
    background: url("../image/css_sprites.png") -262px -30px;
    width: 207px;
    height: 45px;
}
.second__image__bar__wrap-two {
    background: url("../image/css_sprites.png") -30px -132px;
    width: 180px;
    height: 54px;
}
.second__image__bar__wrap-three {
    background: url("../image/css_sprites.png") -30px -30px;
    width: 207px;
    height: 54px;
}
.second__image__bar__wrap-four {
    background: url("../image/css_sprites.png") -231px -132px;
    width: 190px;
    height: 52px;
}
.event__titles {
    width: 100%;
    height: 160px;
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold;
    font-size: 27pt;
    color: rgba(24, 180, 207, 255);
    font-weight: bold;
    text-transform: uppercase;

}

.event__news-image {
    display: grid;
    grid-template-columns: repeat(7, 271px);
    grid-template-rows: repeat(1, 190px);
    align-items: center;
    width: 100%;
    justify-content: center;

}
.event__news__image-one,
.event__news__image-two,
.event__news__image-tree,
.event__news__image-four,
.event__news__image-five,
.event__news__image-six,
.event__news__image-seven {
    width: 271px;
    height: 190px;
}

.event__news__image-one {
    background-image: url("../image/rate1.png");

}

.event__news__image-two {
    background-image: url("../image/rate2.png");

}

.event__news__image-tree {
    background-image: url("../image/rate2.png");

}

.event__news__image-four {
    background-image: url("../image/rate3.png");

}

.event__news__image-five {
    background-image: url("../image/rate4.png");

}

.event__news__image-six {
    background-image: url("../image/rate5.png");

}

.event__news__image-seven {
    background-image: url("../image/rate6.png");

}

.event__news__all-wrap {
    display: grid;
    justify-items: center;
    grid-gap: 25px;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    width: 100%;
    height: 1480px;
    align-items: center;
}

.event__news__all__wrap__firs-section {
    display: grid;
    grid-template-columns: 42% 30% 32%;
    grid-template-rows: 69% 30%;
    justify-items: right;
}

.event__news__all__wrap__firs__section__news-one {
    width: 320px;
    height: 259px;
    text-align: right;
    background-color: #f9f7f7;
}

.event__news__all__wrap__firs__section-picture-one {
    background: url("../image/news1.png");
    width: 483px;
    height: 259px;
}

.event__news__all__wrap__firs__section-picture-two {
    background: url("../image/news2.png");
    width: 277px;
    height: 210px;

}
.event__news__all__wrap__firs__section__news-two{
    background-color: #f9f7f7;
    width: 277px;
    height: 45px;
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    align-self: start;
    justify-self: end;

}
.event__news__all__wrap__firs__section__news-two h4{
    margin: 12px 0px;

}

.event__news__all__wrap__two-section {
    display: grid;
    grid-template-columns: 555px 555px;
    grid-template-rows: 418px 418px;
    grid-gap: 60px;

}

.event__news__all__wrap__two__section__picture-three,
.event__news__all__wrap__two__section__picture-four,
.event__news__all__wrap__two__section__picture-five,
.event__news__all__wrap__two__section__picture-six
{
    width: 554px;
    height: 259px;
}

.event__news__all__wrap__two__section__news-three,
.event__news__all__wrap__two__section__news-four,
.event__news__all__wrap__two__section__news-five,
.event__news__all__wrap__two__section__news-six {
    background-color: #f9f7f7;
    width: 554px;
    height: 418px;
    text-align: right;

}

.event__news__all__wrap__two__section__picture-three {
    background: url("../image/news3.png");
}

.event__news__all__wrap__two__section__picture-four {
    background: url("../image/news4.png");
}

.event__news__all__wrap__two__section__picture-five {
    background: url("../image/news5.png");
}

.event__news__all__wrap__two__section__picture-six {
    background: url("../image/news6.png");
}

.event__news__all__wrap__tree-section {
    display: grid;
    grid-template-columns: 30% 44% 30%;
    grid-template-rows: 69% 30%;
    justify-items: right;

}

.event__news__all__wrap__tree__section__picture-seven {
    background: url("../image/news7.png");
    width: 277px;
    height: 210px;
    justify-self: start;
}
.event__news__all__wrap__three__section__news-seven{
    background-color: #f9f7f7;
    width: 277px;
    height: 45px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    align-self: start;
    justify-self: start;
}
.event__news__all__wrap__three__section__news-seven h4{
    margin: 12px 0px;

}

.event__news__all__wrap__tree__section__picture-eight {
    background: url("../image/news8.png");
    width: 483px;
    height: 256px;
}

.event__news__all__wrap__three__section__news-eight {
    width: 320px;
    height: 256px;
    text-align: right;
    background-color: #f9f7f7;

}
.footer{
    width: 100%;
    height: 80px;
    background-color: #1d2124;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top:200px;
    justify-items: center;

}
.footer__left-side{
    background-color: #1d2124;
    font-family: ﻿AdobeInvisFont, ﻿OpenSans, ﻿Courier;
    font-size: 13pt;
    color: rgba(255, 255, 255, 255);
    margin-top: 33px;


}
.footer__right-side{
    display: grid;
    width: 150px;
    height: 30px;
    grid-template-columns: 25% 45%;
    margin-top: 33px;
    grid-gap: 10px;
}
.footer__right__side-logo{
    background-image: url("../image/logo-footer.png");
    width: 38px;
    height: 24px;


}
.footer__right__side-name{
    background-image: url("../image/name-footer.png");
    width: 64px;
    height: 16px;

}