.head_icon {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    font-size: 80pt;

    text-align: left;
    margin: 61px 1087px 45px 101px;
}
.url_head {
    text-decoration: none;
    color:#4bcaff;
}
.head_icon_color {
    color: black;
}
.nav {
    width: 1280px;
    height: 69px;
    text-align: center;
    background-color: #35444f;
    margin-left: 100px;
    margin-top: 45px;
    padding-left: 40px;
    line-height: 69px;
    box-sizing: border-box;
}
.nav_in{
    display: inline-block;
    float: left;
    color: rgba(255, 255, 255, 255);
    text-decoration: none;
    font-size: 24pt;
    margin-left: 60px;
    text-align: center;
    cursor: pointer;
}
.nav_in:hover{
    background-color: #222f3a;
    height: 69px;
}
.center {
    width: 1280px;
    height: 529px;
    margin-left: 100px;
    margin-top: 72px;
}
.left_blok {
    display: inline-block;
    width: 344px;
    height: 399px;
    border: 2px solid grey;
}
.left_blok_in{
    width: 289px;
    height: 60px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    font-size: 29.99244px;
    color: rgba(73, 88, 99, 255);
    text-align: left;
    cursor: pointer;
    padding-left: 42px;
    padding-top: 20px;
}
.left_blok_in:hover{
    background-color: #dbdbdb;
    color: black;
    padding-left: 54px;
}
.img {
    width: 885px;
    height: 529px;
    border: 2px solid grey;
    display: inline-block;
    float: right;
}
.img_bar {
    background: url("img/ove.png") no-repeat;
    width: 320px;
    height: 381px;
    margin-left: 297px;
    margin-top: 75px;
}
.img_bar:hover{
    transform: scale(1.3);
    transition: all 0.3s linear;
}
.page_text{
    width: 820px;
    height: 253px;
    display: inline-block;
    clear: both;
    margin-left: 526px;
    margin-top:
}
.text {
    width: 815px;
    height: 114px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    font-size: 18pt;
    color: rgba(44, 44, 44, 255);
    text-align: left;
    margin-top: 50px;
    padding-top: 20px ;
}
footer{
    width: 1280px;
    height: 49px;
    background-color: #b4b7ba;
    text-align: left;
    display: inline-block;
    clear: both;
    margin-left: 100px;
    margin-top: 51px;
    padding-top: 25px;
    padding-left: 15px;
}
.in_foot_left {
    color: rgba(12, 25, 39, 255);
    font-size: 28px;
    display: inline-block;
    float: left;
    margin-left: 20px;
    cursor: pointer;
}
.in_foot_left:hover{
    color:#3181a6;
    text-decoration: underline;
}
.in_foot_rigth{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    font-size: 24px;
    color: rgba(1, 1, 1, 255);
    display: inline-block;
    float: right;
    margin-right: 20px;
}
