

/* вставленные картинки */

.logo {
    background-image: url("../image/starwars.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

body {
    background-image: url("../image/background.jpg");
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.intro {
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 50%;

    text-align: center;
    color: #ffff66;
    font-size: 200%;
    animation: intro 20s ;
}

.logo {
    opacity: 0;
    position: absolute;
    width: 50%;
    left: 50%;
    height: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation: logo 20s ease-out infinite;
}

.scroll {
    position: absolute;
    width: 60%;
    margin: 0 20% 0 20%;
    height: 100%;
    font-size: 250%;
    text-align: justify;
    color: #8193ff;
    transform: perspective(200px) rotateX(30deg);
}

.scroll div {
    position: absolute;
    top: 100%;
    animation: scroll 20s linear infinite;
}

/* анимация*/

@keyframes intro {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    15% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
}

@keyframes logo {
    10% {
        transform: translateX(-50%) translateY(-50%) scale(2);
        opacity: 0;
    }
    12% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    25% {
        transform: translateX(-50%) translateY(-50%) scale(0.1);
        opacity: 0;
    }
}

@keyframes scroll {
    0% {
        top: 100%;
        opacity: 0;
    }
    10% {
        top: 100%;
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        top: -250%;
        opacity: 0;
    }
}


