* {
    text-transform: uppercase;
    font-family: ﻿AdobeInvisFont, ﻿Arimo-Bold, ﻿Courier;
    font-size: 18px;
}
/*стилизирум таблицу*/
table {
    border: 10px solid #3a4965;
    background-color: #f2f2f2;
    width: 1192px;
    height: 404px;
    text-align: center;
    border-collapse: collapse;
}
table td, table th {
    border-right: 1px solid #d4d4d4;
    padding: 10px 10px;
}
table tr:nth-child(even) {
    background: #e3e3e3;
}
/*Назначаем цвет ячейкам с оглавлением + кнопки*/
.thead-1, .button-1{
     background: #fafafa;
    color: #3a4965;
}
.thead-2, .button-2{
    background: #89c331;
    color: #fafafa;
}
.thead-3, .button-3{
    background-color: #f04a56;
    color: #fafafa;
}
.thead-4, .button-4 {
    background: #20807c;
    color: #fafafa;
}
/* Размер выбранного текста*/
span{
    font-size: 40px;
}
sup{
    position: absolute;
    margin-top: 6px;
}
sub{
    font-size: 14px;
}
.tr{
    font-size: 10px;
    margin-left: -20px;
        }

i{
    margin-right: 5px;
}
/*стилизация кнопок*/
.button-1, .button-2, .button-3, .button-4{
    display: inline-block;
    border-radius: 5px;
    width: 192px;
    height: 34px;
    padding-top: 15px;

}
.hover:hover {
    opacity: 0.4;
    border-radius: 70%;
}
.button-1 {
    background-color: #484848;
    color: #fafafa;
}