body {
    margin: 0;
    padding: 0;
}
.page{
    width:1366px;
    height:768px;
    background-image: url("../image/background.png") ;
    display: inline-block;
}
header{
    width:1064px;
    height:45px;
    margin-top: 45px;
    display: inline-block;
    margin-left: 155px;
}
a{
    text-decoration: none;
}
.header_title:hover a{
    color: #f26522;
}
.header_title:hover .header_left_block{
    color: #f26522;
}
.header_img{
    float: left;
    width: 44px;
    height: 46px;
    background-image: url("../image/0.png");
}
.header_img:hover {
background-image: url("../image/after 0.png");
}
.header_title{
    float: left;
    margin-left: 15px;
}
.header_title a {
    display: block;
}
.milan {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 18pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    text-transform: uppercase;
}
.holiday{
    font-family: ﻿AdobeInvisFont, ﻿Verdana-Bold, ﻿Courier;
    font-size: 12pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    text-transform: uppercase;
}
.header_right_block {
    float: right;
}
.header_right_block a {
    display: block;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 16pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
}
.telephone {
    float: right;
}
.all_hover{
    background-color: #f26522;
    margin-top: 139px;
    bottom: 0;
    height: 63px;
    width: 100%;
    opacity: 0;
}
.left_block{
    display: inline-block;
    margin: 16px 0 17px 21px;
}
.textfrom{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 10pt;
}
.texteuro{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 20pt;
}
.right_block{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 14pt;
    margin-top: 35px;
    float: right;
}
.right_block:after{
    content: "\203a";
    margin-left: 15px;
    margin-right: 18px;
}
.navigation_1{
    background: url("../image/1.png") no-repeat;
    width:307px;
    height:200px;
    float: left;
    margin-left: 157px;
    margin-top: 47px;
}
.navigation_2{
    background: url("../image/2.png") no-repeat;
    width:307px;
    height:200px;
    float: left;
    margin-left: 69px;
    margin-top: 47px;
}
.navigation_3{
    background: url("../image/3.png") no-repeat;
    width:307px;
    height:200px;
    float: left;
    margin-left: 68px;
    margin-top: 47px;
}
.navigation_4{
    background: url("../image/4.png") no-repeat;
    width:307px;
    height:200px;
    clear: both;
    float: left;
    margin-left: 157px;
    margin-top: 98px;
}
.navigation_5{
    background: url("../image/5.png") no-repeat;
    width:307px;
    height:200px;
    float: left;
    margin-left: 69px;
    margin-top: 98px;
}
.navigation_6{
    background: url("../image/6.png") no-repeat;
    width:307px;
    height:200px;
    float: left;
    margin-left: 68px;
    margin-top: 98px;
}
.navigation_1:hover .all_hover,
.navigation_2:hover .all_hover,
.navigation_3:hover .all_hover,
.navigation_4:hover .all_hover,
.navigation_5:hover .all_hover,
.navigation_6:hover .all_hover{
    opacity: 1;
    color: white;
}
.navigation_1:hover .text_bottom,
.navigation_2:hover .text_bottom,
.navigation_3:hover .text_bottom,
.navigation_4:hover .text_bottom,
.navigation_5:hover .text_bottom,
.navigation_6:hover .text_bottom{
    color: #f26522;
}
.text_bottom{
    text-align: center;
    font-size: 18pt;
    margin-top: 22px;
    color: white;
}
footer{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 12pt;
    color: white;
    float: left;
    margin-top: 96px;
    margin-left: 512px;
}

