body {
    width: 1366px;
    height: 912px;
}
.background {
    background-image: url("../imag/background.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
.header {
    background-color: rgba(0, 0, 0, 0.4);
    height: 56px;
    position: relative;
}
.header_left_text {
    position: absolute;
    left: 81px;
    top: 22px;
    font-family: ﻿Verdana-Bold, ﻿AdobeInvisFont, ﻿Courier;
    font-size: 20pt;
    color: rgba(255, 255, 255, 255);
}
.header_left_text:hover {
    color: rgba(60, 184, 120, 255);
    cursor: pointer;
}
a {
    text-decoration: none;
}
/* <--навигация в хеддере с изминениями при наведении */
.header_nav {
    position: absolute;
    right: 322px;
    top: 22px;
}
.nav_1 {
    width: 19px;
    height: 19px;
    background: url('../imag/css_sprites.png') -50px -86px;
    display: inline-block;
    float: left;
    margin-right: 28px;

}
.nav_1:hover {
    width: 19px;
    height: 19px;
    background: url('../imag/css_sprites.png') -89px -86px;
    cursor: pointer;
}
.nav_2 {
    width: 28px;
    height: 20px;
    background: url('../imag/css_sprites.png') -10px -10px;
    display: inline-block;
    margin-right: 25px;
}
.nav_2:hover {
    width: 28px;
    height: 20px;
    background: url('../imag/css_sprites.png') -58px -10px;
    cursor: pointer;
}
.nav_3 {
    width: 20px;
    height: 20px;
    background: url('../imag/css_sprites.png') -106px -10px;
    display: inline-block;
}
.nav_3:hover {
    width: 20px;
    height: 20px;
    background: url('../imag/css_sprites.png') -10px -86px;
    cursor: pointer;
}
.header_rigth_text {
    position: absolute;
    right: 75px;
    top: 24px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 14pt;
    color: rgba(255, 255, 255, 255);
}
.color {
    color: #3cb878;
}
/* <--окно ввода */
.container {
    background-color: white;
    border: white;
    border-radius: 5px;
    width: 444px;
    height: 584px;
    position: relative;
    top: 130px;
    left: 461px;
}

.cube {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 29px;
    background-color: rgba(60, 184, 120, 255);
}
.container_top {
    position: absolute;
    top: 20px;
    left: 60px;
    width: 325px;
    height: 15px;
}
.text_left {
    display: inline-block;
    float: left;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 20pt;
    color: rgba(67, 67, 67, 255);
}
.text_right{
    display: inline-block;
    float: right;
    text-decoration: underline;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 14pt;
    color: rgba(60, 184, 120, 255);
}
/* <--кнопки facebook+google */
.button_f {
    width: 157px;
    height: 46px;
    background-color: blue;
    position: absolute;
    top: 90px;
    left: 60px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 16pt;
    color: rgba(255, 255, 255, 255);
    border-radius: 5px;
}
.button_g {
    width: 157px;
    height: 46px;
    background-color: red;
    top: 90px;
    left: 225px;
    position: absolute;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 16pt;
    color: rgba(255, 255, 255, 255);
    border-radius: 5px;
}
.button_left_section_f {
    display: inline-block;
    position: absolute;
    top: 9px;
    left: 15px;
    border-right: 1px;
    width: 28px;
    height: 28px;
    background: url('../imag/facebook.png') no-repeat center;
    border-right: 1px solid darkblue;
}
.button_rigth_section {
    display: inline-block;
    position: absolute;
    left: 60px;
    top: 10px;
}
.button_left_section_g {
    display: inline-block;
    position: absolute;
    top: 9px;
    left: 13px;
    border-right: 1px;
    width: 35px;
    height: 28px;
    background: url('../imag/g+.png') no-repeat center;
    border-right: 1px solid crimson;
}
/* <--разделительная черта */
.strip {
    width: 322px;
    height: 8px;
    border-bottom: 1px solid grey;
    position: absolute;
    top: 155px;
    left: 62px;
}
.strip_in {
    text-align: center;
    position: absolute;
    left: 135px;
    font-size: 15px;
    background-color: white;
    width: 52px;
    height: 15px;
    z-index: 2;
}
/* <--формы ввода + деккорация  */
.form_ {
    width: 322px;
    height: 384px;
    position: absolute;
    left: 62px;
    bottom: 10px;
    margin: 0;
    padding: 0;
}
input:focus {
    box-shadow: 0 5px 20px rgba(0, 0, 0, .6);
    outline: 0;
}
input[type=text] {
    width: 322px;
    height: 30px;
    border-radius: 5px;
    border-color: rgba(125, 125, 125, .2);
}

input[placeholder] {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 14pt;
    color: rgba(190, 190, 190, 255);
    padding-left: 10px;
}
label {
    margin-bottom: 5px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;

}
/* <--нижняя кнопка */
button {
    background-color: #3cb878;
    width: 322px;
    height: 30px;
    text-align: center;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
}

.checkbox {
    width: 270px;
    height: 20px;
    position: absolute;
    bottom: 60px;
    left: 10px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 14pt;
    color: rgba(67, 67, 67, 255);
    text-align: center;
}
/* <--скрываем дефолтный чекбокс */
label input[type=checkbox] {
    display: none;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana;
    font-size: 14pt;
    color: rgba(67, 67, 67, 255);
}
/* <-- стилизируем новый */
label span[class=new_check] {
    height: 12px;
    width: 12px;
    border: 1px solid gray;
    display: inline-block;
    position: relative;
    border-radius: 2px;
    padding: 3px;

}
/* <-- ставим иконку, когда чекбокс включен  */
[type=checkbox]:checked + span:before {
    content: '\2714';
    position: absolute;
    top: -7px;
    left: 0;
    font-size: 22px;
    color: green;
}

